<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p><%= title %>: El portal donde podrá crear sus propios juegos! </p>
    <p><a href="/question"> ¡Que empiece el juego!</a></p>
  </body>
</html>
