<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css"
      media="only screen and (min-width: 800px) and (min-device-width: 600px)" 
      href="/stylesheet/wide.css" />
    <link rel="stylesheet" type="text/css" 
      media="only screen and (max-width: 480px)" 
      href="/stylesheets/smartphone.css" >
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <p>El portal donde podrá crear sus propios juegos! </p>
    <p><a href="/quizzes"> ¡Que empiece el juego!</a></p>
  </body>
</html>
