<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <p>El portal donde podrá crear sus propios juegos! </p>
    <p><a href="/question"> ¡Que empiece el juego!</a></p>
  </body>
</html>
