body{
  background: url(/imagen1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana;
}


header{
  background-color: rgba(0,0,0,.5);
  border-radius: 40px 40px 40px 40px; 
  -moz-border-radius: 40px 40px 40px 40px; 
  -webkit-border-radius: 40px 40px 40px 40px; 
  border: 5px double #FFB638;
  margin: 100px;

}

h1{
  text-align: center;
  color: White;
}

h2{
  
  text-decoration: underline;
  color: orange;
}

article{
  width: 1000px;
  height: auto;
  float: left;
  margin:  50px 50px 50px 50px;
  color: #FF8112;
}

aside{
  width: auto;
  height: auto;
  float: left;
  margin: 50px 50px 50px 50px;
  color: #FF8112;
}

article1{
  width: auto;
  height: auto;
  padding-top: 30px;
  text-align: left;
  margin:  70px 70px 70px 70px;
}

footer{
  clear: both;
  text-align: right;
  margin: 30px 30px 30px 30px;
  color: #2290F0;
}



table{
  padding: 0px;
  position: inherit;
  margin: 30px 30px 30px 100px;
  border-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  

}


th{
  background: rgba(255, 170, 0, 0.6); 
  padding: 1em;
  border-bottom-width: 5px;
  border-bottom-Style: solid;
  border-bottom-color: white;
}

td{
  padding: 1em;
  border-bottom-width: 1px;
  border-bottom-Style: solid;
  border-bottom-color: white;
}