* {
	margin: 0;
	padding: 0; 
}

body {
  font: 16px Georgia, serif;
  color: white;
  background: url(/images/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 200px;
}

.page {
	margin: 2% auto;
	color: white;
}

.main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
	background: #eee;
}

a {
  color: #00B7FF;
}

section > div { padding: 20px; }

header { text-align: center; }
nav { text-align: center; }
section { text-align: left; }
footer { text-align: center; }

nav a { margin: 0px 10px 0px 0px; }

header.tituloAutor {
    margin-bottom: 20px;
}

header.tituloAutor {
    margin-bottom: 20px;
}

.cuerpoAutor {
    flex-direction: row;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.divAutor1 {
    flex-basis: 50%;
    background-color: rgb(236, 253, 234);
    border-width: thick;
    border-style: groove;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    text-align: justify;
    margin-right: 5px;

}

.divAutor2 {
    flex-basis: 50%;
    background-color: rgb(236, 253, 234);
    border-width: thick;
    border-style: groove;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    text-align: justify;
    margin-left: 5px;
}

h3.tituloCuerpoAutor {
    text-align: center;
}

p.enlaceCuerpoAutor {
    text-align: center;
    margin-top: 10px;
}