<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header class="tituloAutor">
  		<h1>Autor: Carlos Fernandez Cuadrado</h1>
  	</header>
  	<div class="cuerpoAutor">
	  	<div class="divAutor1">
	  		<h3 class="tituloCuerpoAutor">Primera pagina</h3>
	  		<p>
	  			Aqui podra encontrar su primera practica realizada en CORE.
	  		</p>
	  		<p class="enlaceCuerpoAutor">
	  			<a href="http://webcarlos.neocities.org/practica1CORE/index.html">
	  				Pagina con foto y video
	  			</a>
	  		</p>
	  	</div>
	  	<div class="divAutor2">
	  		<h3 class="tituloCuerpoAutor">MOOC</h3>
	  		<p>
	  			Aqui podra encontrar distintas practicas realizadas para el MOOC de miriada X
	  		</p>
	  		<p class="enlaceCuerpoAutor">
	  			<a href="http://webcarlos.neocities.org/miriadaMOOC/Modulo6/index.html">
	  				Su MOOC de Miriada X
	  			</a>
	  		</p>
	  	</div>
  	</div>
  	<footer>
  		<p><a href="/question"> Volver</a></p>
  	</footer>
  </body>
</html>